/* Meyer Reset*/
@import 'reset.css';

/* @import PUT FONT IMPORT HERE */

/* CONTENT LIST
   1 Elements
   2 Classes and IDs
   3 Media Queries
*/

/* 1 Elements ========================*/

body{
    background-color:#ffffff;
}

a{}

p{}

header{
    background-color:#6f8a77;
    position:sticky;
    top: 0;
    width: 100%;
}

h1{
    background-color: coral;
    display: inline-block;
    padding: 30px 50px; 
}

h2{}

h3{}

nav{    
    float: right; 
}

nav ul li{
    display: inline-block;
    }

nav ul li a{

}

nav ul li a.currentpage{
    background-color:blueviolet;
    text-decoration: none;
}

main{
    background-color:aqua;
    width: 980px;
    margin: 0 auto; 
}

footer{
    background-color:#6f8a77;
    color: white;
    padding: 20px;
    /* width: 100%;  */
    /* font-family: 'Akkurat-Mono'; */
    font-size: 16px;
    text-align: center;
  }

 img{
     max-width: 100%;
 }

/* 2 Classes and IDs ========================*/

/* .full-width-wrapper{
    width:100%;
    }

.wrapper {
    width: 960px;
    margin: 0 auto;
} */

.grid-2-col{
    display: grid;
    grid-template-columns: 1fr 1fr
}

/* 3 Media Queries ==========================*/
@media screen and (max-device-width: 900px) { 
    .grid-2-col{ 
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (max-device-width: 600px) { 
    .grid-2-col{ 
        grid-template-columns: 1fr;
    } 
}